*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
}
header{
    background-color: black;
    height: 6em;
   }
img{
    margin-top: 15px;
    margin-left: 10%;
}
.header-tag{
    float: right;
    margin-right: 30px;
    margin-top: 40px;
}
.header-tag a{
    color: white;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid white;
    padding: 6px;
    margin-right: 6px;
}
.header-tag :hover{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;

}
.side-bar{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 100px;
    
}
.side-bar li{
    margin-bottom: 5px;
    list-style: square;
}

.login{
    float: right;
    margin-top: 5%;
    margin-right: 2%;
    border: 2px solid red;
    height: 15em;
    background-color: beige;
    padding: 30px;
}
.form-head{
    text-align: center;
}
.login input{
    height: 1.5em;
}
.login #login-button{
    width=100%;
    height: 1.8em;
    width: 100%;
    color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
}
.container{
    margin-top: 7%;
    margin-left: 3px;
}
.p-box{
    border: 3px solid white;
    width: 22%;
    float: left;
    margin-left: 10px;
    height: 15em;
    padding: 5px;
    background-color:#cccccc;
}
.p-box h3{
    text-align: center;
}
.p-box p{
    line-height: 1.25em;
    text-align: justify;
}
.p-box a{
    text-decoration: none;
    color: red;
}
footer{
    margin-top: 30%;
    background-color: black;
}
footer h3{
    text-align: center;
    color: white;
}



